# backup-job.yml
version: "3.7"
services:
  sync-site:
    image: rakacha/lifi-grdrive-sync:1.0.0
    stdin_open: true # docker run -i
    environment:
      - SYNC_MODE=${GDRIVE_SYNC_MODE}
      - BACKUP_DIR=/home/frappe/frappe-bench/sites/${BACKUP_SITE_NAME}/private/backups
      - GDRIVE_DIR=${BACKUP_GDRIVE_PATH}
      - RESTORE_FILE_PREFIX=${GDRIVE_FILE_PREFIX}
      - RESTORE_PATH=${RESTORE_GDRIVE_PATH}
    volumes:
      - "sites-vol:/home/frappe/frappe-bench/sites"
      - "app-vol:/app"
    networks:
      - erpnext-network
      

networks:
  erpnext-network:
    external: true
    name: frappe_docker_default

volumes:
  sites-vol:
    external: true
    name: frappe_docker_sites
  app-vol:
    external: true
    name: gdrive-job-vol
